@charset "UTF-8";

body{
    width: 100%;
    background-color: black;
}
.perfect{
    margin: 20% 20%;
    position: relative;
}
.perfect::after{
    position: absolute;
    top:-14px;
    left: -31px;
    content: "";
    width: 120px;
    height: 70px;
    border: 2px solid white;
    border-radius: 12px;
}
.perfect p{
    color: white;
    font-size: 16px;
}
